.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.title {
  margin-top: 20px;
  font-size: 1.3rem;
}

.occupation {
  font-size: 1.2rem;
  font-weight: lighter;
}

.description {
  margin-top: 15px;
}
